body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

$body: #000;
$headings-font-weight: 300;
$primary: #1b46c2;
$light: #fafafa;
$table-th-font-weight: 400;

@import "bootstrap/scss/bootstrap.scss";
@import '_dapp-utils.scss';

/* Base
-------------------------------------------------- */
html {
  min-height: 100%;
  font-size: 14px;
}

.wrapper {
  min-height: 100vh;
}

.opacity-6 {
  opacity: 0.6;
}

.dapp-icon {
  padding: 5px;
  border-radius: 50%;
  background-color: $light;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &.icon-medium {
    width: 80px;
    height: 80px;
  }
}

/* Navbar
-------------------------------------------------- */

.dapp-name {
  line-height: 1rem;
  border-left: 1px solid $gray-400;
  padding-left: 3px;
  margin-left: 4px;
}

.navbar-address {
  width: 15rem;
  line-height: 2.25rem;
}

/* Dashboard
-------------------------------------------------- */
.action-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0 7px;

  button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $white;

    &:hover {
      opacity: 0.9;
    }
  }
}

.light-bg {
  color: #f7f7f7;
}
.light-fg {
  color: #1f43f6;
  transform: scale(.5);
}

.token-icon {
  vertical-align: bottom;
  width: 1.5rem;
  height: 1.5rem;
}
.token-icon-large {
  vertical-align: bottom;
  width: 2.5rem;
  height: 2.5rem;
}

.transactions {
  .transaction-icon {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &.table {

    td, tr {
      padding: 0.65rem;
    }

    td {
      white-space: nowrap;
      vertical-align: middle;
    }

    tr:last-of-type {
      td {
        border-bottom: 1px solid #dee2e6;
      }
    }
  }
}

/* Actions
-------------------------------------------------- */

.not-allwed {
  cursor: not-allowed;
}
.error {
  color: red;
}

/* Loader, Transaction Success/Fail
-------------------------------------------------- */
.page-state {
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .bg-blue .lds-ellipsis div {
    background: rgba(255, 255, 255, 0.4);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }
}

/* Footer
-------------------------------------------------- */
footer {
  div {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1.155rem;

    a {
      color: $black;

      &:hover {
        color: $black;
      }

      #heart {
        height: 16px;
        width: 16px;
      }
    }
  }
}


.trim {
  padding: 0 1rem;
  display: flex;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  /* IE fix */
  /* SAFARI 10.1+ fix */ }
  .trim.overflow .ellipsis {
    display: block; }
  .trim .left {
    flex-shrink: 1;
    font-size: 1px;
    color: transparent;
    overflow: hidden;
    text-overflow: ellipsis; }
  .trim .right {
    flex-shrink: 1;
    font-size: 1px;
    color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    direction: rtl; }
  .trim .left span,
  .trim .right span {
    font-size: 1rem;
    pointer-events: none;
    user-select: none; }
  .trim .ellipsis {
    flex-shrink: 0;
    display: none;
    pointer-events: none;
    user-select: none; }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .trim .right {
      text-overflow: clip; } }
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) {
      .trim .right {
        text-overflow: unset; } } }
  .trim .hidden-text-ref {
    position: absolute;
    display: block;
    color: transparent; }

.trim-wrapper {
  display: flex;
  max-width: 100%;
  overflow: hidden; }

a:hover > .trim span {
  color: black !important; }
  a:hover > .trim span.hidden-text-ref {
    color: transparent !important; }

a > .trim span {
  color: #000 !important; }
  a > .trim span.hidden-text-ref {
    color: transparent !important; }

.table .trim {
  max-width: 15rem; }


@media (min-width: 768px) {
  .table .trim-size-xl .trim {
    max-width: 13rem; } }

.trim-fs-sm .trim .left span,
.trim-fs-sm .trim .right span,
.trim-fs-sm .trim .ellipsis {
  font-size: 0.8125rem; }

@media (min-width: 768px) {
  .table .trim-size-xl .trim {
    max-width: 13rem; } }

